    body{
        overflow-x: hidden;
        
    }
    p{
        font-size:calc(var(--vh, 1vh) * 2);
    }
    .mobile{
        display:block;
    }
/* -----NAV ---------*/
    #nav{
        flex-wrap:nowrap;
    }
    .menu{
        width:15%;
        display:block;
        margin-left: auto;
        padding:3%;  
        object-fit: contain;   
    }
    .long-menu{
        display:none;
    }
    .logo{
        position:absolute;
        justify-self: center;
        margin-left:0;
        margin-right:0;
        margin-top:0%;  
    }
/* -----ROTOR HEARTH ---------*/
    .rotate{
        width:10% !important;
        box-shadow:0px 0px 0px 2px rgb(245, 245, 245);

    }
/* -----INIT ---------*/
    #init{
        flex-direction:column;
    }
    .init-h2-list{
        font-size:calc(var(--vh,1vh)*1.7);
    }
/* -----ABOUT ---------*/
    #about{
        flex-direction: column;
        align-content: space-around;
        justify-content: space-evenly;
        height:auto;
        padding:calc(var(--vh)*5);
    }
    #about img{
        position:relative;
        width:80%;
    }
    .fading-text{
        position: relative;
        margin-left:20%;
        margin-right: 20%;
    }
    .fading-text .fading-text-content p{
        font-size:calc(var(--vh,1vh)*3) !important;
    }
/* -----PARALLAX ---------*/
    #parallax-window {
        min-height: 10vh;
        max-height: 10vh;
        background:url(img/one.jpg); /* Nuestra textura */
        background-repeat:repeat; /* Indicamos que la textura se repetira */
        background-attachment: fixed;
        background-size:100% 100%;

    }
/* -----SPECIALITIES ---------*/
    .specialities{
        height:auto;
        flex-direction:column;
        font-size:90%;
    }
    .specialities-content{
        width:94%;
    }
    .specialities img {
        width:80%;
        padding-bottom:5vh;
    }
    .img-on-top{
        flex-direction: column-reverse;
    }
/* ---------------benefits ------------- */
#benefits-content{
    background-color:#e6e6e6;
    height: calc(var(--vh, 1vh) * 270);
    display:flex;
    position: relative;
}
.benefits-items{
    overflow: hidden;
    display:flex;
    color:black;
    flex-direction: column;
    font-size:calc(var(--vw,1vw)*2.9);
    justify-content:space-around;
    align-content:space-around;
}
.respo-animation{
    top:10%;
    position: absolute;
    display:block;
    transform:scale(0);
}
#device-animation{
    width:100%;
    height:25%;
}
#h2-device-animation{
    animation-duration:3s !important;
    display:block;
    visibility: hidden;
    text-align: center;
    align-self:center;
    justify-self: center;
    flex-grow:1;
}
.h2-container{
    flex-grow:1;
    align-items:center;
    justify-content: center;
    text-align:center;
    position: relative;;
    top:0;
    left:0;
}
.respo-animation:nth-child(1){
    width:40%;
    animation-delay:0ms !important;
    left:30%;
    top:10%;

}
.respo-animation:nth-child(2){
    width:10%;
    animation-delay:1200ms !important;
    left:30%;
    top:44%;

}
.respo-animation:nth-child(3){
    left:30%;
    top:34%;
    width:30%;
    animation-delay:600ms !important;
}
.respo-container{
    width:100%;
    height:50%;
    top:0;
    left:0;
    position:relative;
    display:flex;
    flex-direction: row;
    padding:5% 5% 5% 5%;
}
/* -----CONTACT ---------*/
    .contact-description{
        width:30%;
        font-size: calc(var(--vh,1vh)*2);
        padding:1vh;
    }
    .contact-content{
        width:70%;
    }
    #contact input,textarea{
        width:70% !important;
    }
}
.slideDevices2{
    animation: slideDevices2 1s ease-in-out forwards;
}