:root {
    --vheight: 0%;
  }
    body{
        margin:0;
        background-color:rgb(102, 204, 89);
        overflow-y:scroll;
        font-family: Lato;
        color: rgb(220, 227, 235);
        width:calc(var(--vw,1vw)*100);
        overflow-X:hidden;
        display:flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }
    input, textarea{
        background-color:#b3ddff;
        border:none;
        border-radius:2%;
    }
    input:focus,textarea:focus{
        box-shadow: none;
        border-bottom-color: rgba(29, 146, 74, 0.12) !important;
    }
    button{
        border-radius: 10%;
        border:none;
        padding:4%;
        margin:5%;
        user-select:none;
        cursor: pointer;
    }
    
    p{
        font-size:calc(var(--vh, 1vh) * 4);
        padding:3vw;
    }
    .mobile{
        display:none;
    }
/* --------NAV---------- */
    #nav{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        position:fixed !important;
        background-color:rgb(223, 240, 255);
        height:17vh;
        width:calc(var(--vw,1vw)*100);
        display:inline-flex;
        align-items: center;
        justify-content: space-evenly;
        color:rgb(56, 49, 87) !important;
        z-index:1990;
        flex-wrap:wrap;
        margin:0;
    }
    #nav h4{
        text-align: center;
        cursor:pointer;
    }
    .menu{
        display:none;
    }
    #menu-list{
        position: fixed;
        right:0;
        top:0;
        width:50%;
        height:50%;
        visibility: hidden;
        background-color:rgb(43, 42, 36);
        z-index:199999;
        display:flex;
        color:rgb(199, 199, 199);
        flex-direction:column;
        justify-content: center;
        align-items:center;
    }
    #close-menu{
        position: absolute;
        top:2%;
        right:10%;
        user-select:none;
        cursor: pointer;
    }
    #menu-list h4:hover{
        background-color:lightgreen;
    }
    .long-menu{
        display:flex;
        height:100%;
        align-items:center;
        justify-content: center;
        font-size:90%;
        padding:0 2% 0 2%;
        margin:0 0 0 0;
        flex-grow: 1;
        transition: ease-in-out;
    }
    .long-menu:hover{
        background-color:rgb(65, 25, 65,0.4);
        color:rgb(230, 217, 217);
        animation:quickShadow 300ms linear forwards;
    }
    .logo{
        height:60%;
        object-fit: contain;
        /* margin-left:-10%; */
        padding:0;
        flex-grow: 1;
        margin-top:-2%;
    }
/* ------PROGRESS BAR---------- */
    .progress-bar-container{
        width:calc(var(--vw,1vw)*100);
        height:2%;
        background-color:white;
        position:fixed;
        top:17vh;
        z-index:100000;
    }
    .progress-bar{
        width:0.5%;
        height:100%;
        background-color:blueviolet
    }
/* ------ROTOR HEARTH-------- */
    /* .rotate-container{
        position:fixed;
        width:100%;
        top:25%;
        z-index:10000 !important;
        display:flex;
        align-items:center;
        align-content:center;
        text-align: center;
    } */
    .rotate{
        box-shadow:0px 0px 0px 20px rgb(245, 245, 245);
        border-radius: 100%;
        animation: rotor 200ms linear infinite;
        animation-play-state: paused;
        animation-delay: calc(var(--scroll) * -1s);
        width:5%;
        z-index:100000 !important;
        object-fit: contain;
        position: sticky;
        display:flex;
        align-self:center;
        justify-content: center;
        top:25%;
        /* transform: translate(-50%,-25%); */

    }
/* -----SECTIONS ---------*/
    #section-container{
     
        background-color: rgb(191, 206, 207);
        width:calc(var(--vw,1vw)*100);
        display:flex;
        flex-direction:column;
        justify-content: space-evenly;
    }
/* -------------INIT--------------- */
    #init{
        position:relative;
        height: calc(var(--vh, 1vh) * 90);
        background: linear-gradient(-45deg, #ffffff, #f1f3f1, #23a6d5, #238ed5);
        background-size: cover;
        width:100%;
        display:flex;
        align-items:center;
        align-content:center;
        justify-content: center;
    }
    .init-h2-list{
        background-color:rgba(0, 0, 0, 0.6);
        text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 1em rgb(0, 195, 255,0), 0 0 0.2em rgb(68, 160, 247,0);
        display:flex;
        flex-direction:column;
        justify-items:center;
        justify-content:center;
        align-items: center;
        align-content:center;
        z-index:1000;
        padding:2vw;
        margin-top:10%;
    }
    #init > .nav-carrousel{
        position:absolute;
        width:100%;
        height:100%;
        margin-right:auto;
        object-fit: cover;
        animation: fade 500ms linear forwards;
    }
/*---------- ABOUT ----------------*/
    #about{
        height: calc(var(--vh, 1vh) * 70);
        background: rgb(184, 119, 228);
        display:flex;
        align-items:center;
        position: relative;
    }
    #about img{
        width:40%;
        position:absolute;
        animation: fade 1s linear forwards;
        animation-play-state: paused;
        object-fit: contain;
        animation-delay: calc(var(--scroll) * -30s);
        margin-left:2%;
        display:none; 
    }
    .fading-text{
        position:absolute;
        margin-left:50%;
    }
    .fading-text-content{
        overflow-x:hidden;
        animation: fade 400ms linear forwards;
        animation-play-state: paused;
        color:black;
        animation-delay: calc(var(--scroll) * -12s);
    }
/* ---------parallax------------ */
    #parallax-window {
        min-height: 50vh;
        max-height: 50vh;
        background:url(img/one.jpg); /* Nuestra textura */
        background-repeat:repeat; /* Indicamos que la textura se repetira */
        background-attachment: fixed;
        background-size:100% 100%;
    }
/* --------SPECIALITIES------ */
    .specialities-container{
        position:relative;
        height:auto;
        width:100%;
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items:center;
    }
    .specialities{
        background-color:sandybrown;
        height: calc(var(--vh, 1vh) * 80);
        display:flex;
        font-size:calc(var(--vh, 1vh) * 3);
        align-items:center;
        align-content:center;
        justify-items:center;
        justify-content: space-between;
        padding-left:5vh;
        padding-right:5vh;
        border:1px solid rgba(0, 0, 0, 0.2);
    }
    .specialities-content{
        justify-content:center;
        align-content:center;
        height:100%;
        width:40%;
        display:flex;
        flex-direction:column;
    }
    .specialities > img {
        opacity:0;
        width:40%;
        height:100%;
        object-fit: contain;
        padding-bottom:0vh;
    }
/* -----------------BENEFITS--------------------*/
    #benefits{
        background-color:#de97f0;
        height: calc(var(--vh, 1vh) * 60);
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items:center;
        position:relative;
    }  

     #benefits-content{
        height: calc(var(--vh, 1vh) * 270);
        display:flex;
        position: relative;
        width:calc(var(--vw,1vw)*100);
        flex-direction: column;
        background-color: rgb(233, 233, 233);
        justify-content: space-evenly;
        justify-items: center;
        align-items: center;
        align-content: space-around;
    } 
    #vertical-bar{
        position: absolute;
        left: 50%;                         /*  added  */
        top:15%;                         /*  added  */
        transform: translate(-50%,-10%);   /*  added  */
        height:90%;
        width:2%;
        background-color: rgb(52, 31, 109);
        display:flex;
        border: 3% solid rgb(52, 31, 109);
        border-radius:21px;  
        justify-content: center;
        justify-items: center;
    }
    #vertical-bar-inside{
        height:0%;
        width:50%;
        background-color: rgb(204, 190, 229);
        z-index:1000001;
        max-height: 97%;
        top:2%;
        display:flex;
        margin-left:auto;
        margin-right:auto;
        border: 0;
        border-radius: 21px;
        position:relative;
        visibility: hidden;
    }
    .size-helper {
        display: block;
        width: 100%;
        height: auto;
        visibility: hidden;
   }
    #check-respo{
        background-color: rgb(52, 31, 109);
        border-radius: 50%;
        width:200%;
        display:flex;
        position: absolute;
        z-index:1000000;
        justify-self: center !important;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        visibility: visible !important;
        -webkit-box-sizing: border-box;
        border: 1vw solid rgb(52, 31, 109);
        background-color: rgb(52, 31, 109);
    }
    #check-emergency{
        background-color: rgb(52, 31, 109);
        border-radius: 50%;
        width:200%;
        display:flex;
        position: absolute;
        z-index:1000000;
        justify-self: center;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        visibility: visible !important;
        -webkit-box-sizing: border-box;
        border: 1vw solid rgb(52, 31, 109);
        background-color: rgb(52, 31, 109);
    }
    #check-money{
        background-color: rgb(52, 31, 109);
        border-radius: 50%;
        width:200%;
        display:flex;
        top:63%;
        position: absolute;
        z-index:1000000;
        justify-self: center;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        visibility: visible !important;
        -webkit-box-sizing: border-box;
        border: 1vw solid rgb(52, 31, 109);
        background-color: rgb(52, 31, 109);
    }
    #check-wifi{
        top:87%;
        background-color: rgb(52, 31, 109);
        border-radius: 50%;
        width:200%;
        display:flex;
        position: absolute;
        z-index:1000000;
        justify-self: center;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        visibility: visible !important;
        -webkit-box-sizing: border-box;
        border: 1vw solid rgb(52, 31, 109);
        background-color: rgb(52, 31, 109);
    }
    .checked{
        background-color: rgb(204, 190, 229) !important;
    }
    #emergency,#wifi, #money,#device-animation{
        margin-top:4%;
        margin-bottom:4%;
        display:flex;
        width:100%;
        flex-direction:row;
        justify-content: space-evenly;

    }
    #emergency-img,#wifi-img, #money-img,.respo-container{
        display:flex;
        align-items:center;
        justify-content: center;
        width:50%;
        width:40% !important;
        margin-left:auto;
        margin-right:auto;
        align-self:center;
        justify-self: center;

    }

    #emergency-desc,#wifi-desc, #money-desc,#device-desc{
        display:flex;
        flex-direction:column;
        width:50%;
        align-items: center;
        align-content:center;
        justify-content: center;
        color:rgb(12, 1, 73);
        font-size:calc(var(--vw,1vw)*1.3);


    }
    #emergency .button-benefits{
        cursor:pointer;
        opacity:0.8;
        display:flex;
        width:30%;
        height:12%;
        align-items: center;
        justify-content: center;
        color:rgb(12, 1, 73);
        border-radius:33px;
        color:wheat;
        border:3px solid rgb(51, 78, 9);
        background-color:green;
        box-shadow:1px 1px 1px rgb(0, 0, 0);
    }
    #emergency .button-benefits img{
        width:20%;
        height:80% !important;
        padding: 0 !important;
    }
    #emergency img,#wifi img, #money img{
        width:50%;
        object-fit: contain;
        padding:5%;
    }
    #emergency h2,#wifi h2, #money h2,#device-animation h2{
        width:30%;
        padding:5%;
    }

    .benefits-items{
        display:flex;
        color:black;
        flex-direction: row;
        justify-content: space-between;
        font-size:calc(var(--vw,1vw)*1.3); 

    }
    .respo-container{
        width:50%;
        height:100%;
        position: relative;
        display:flex;
        justify-content: center;
        justify-items: center;
        align-items:center;
        align-content:center;

    }
    .respo-animation{
        flex-grow:1;    
        position: absolute;
        transform:scale(0);
    }
    .des{/* pc */
        width:50%;
        object-fit: contain;
        animation-delay:0ms !important;
    }
    .mob{/* celular */
        object-fit: contain;
        width:14%;
        z-index:999;
        animation-delay:1500ms !important;
    }
    .tab{/* tablet */
        animation-delay:700ms !important;
        left:41%;
        width:30%;
        object-fit: contain;
    }
    #line-benefits{
        width:0%;
        background-color:white;
        height:1%;
    }
/* ----------- CONTACTO --------------*/
    #contact{
        background-color:#74c0ff;
        height: calc(var(--vh, 1vh) * 70);
        display:flex;
        justify-items:center;
        justify-content: space-evenly;
        align-content:center;
        align-items:center;
        flex-direction: row;
        color:rgb(33, 34, 51);
    }
    .contact-description{
        display:flex;
        flex-direction:column;
    }
    .contact-content{
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:center;
        width:50%;
        height:80%;
    }
    #sendemail{
        position:relative;
        display:flex;
        width:50%;
        justify-content: center;
        align-items: center;
    }
    #coverbutton{
        position:absolute;
        width:0%;
        height:100%;
        left:0;
        top:0;
        display:flex;
        justify-content: center;
        align-items: center;
        background-color: #de97f0;
        opacity: 0.8;
    }
/*------------------- FOOTER--------------------*/
    #footer{
        background-color: darkslategray;
        width:100%;
        height:calc(var(--vh,1vh)*20) !important;
        padding:0 !important;
        margin: 0 !important;
        display:flex;
        align-items: center;
        justify-content: space-evenly;
        justify-items: center;
    }
    #footer p {
        font-size: 40% !important;
        padding: 0 !important;
        margin: 0 !important;
    }
/* -------------class will be added with js-------------- */
    .animation-spin{
        animation: rotor2 1s linear, rotor3 1s;
        animation-delay: 0s, 1000ms;
    }
    .animation-fading{
        animation: fade 1s linear forwards;
    }
    .animation-grow-right{
        animation: growRight 1s linear forwards;
    }
    .slideDevices{
        animation: slideDevices 1s ease-in-out forwards;
    }
    .widthGrow{
        animation: widthGrow 1s linear;
    }
    .menu-animation{
        animation: menuAnimation 1s linear forwards;
    }